<!DOCTYPE html>
    <head>
        <!--required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Web development portfolio of Dara F. Thomas">
        <meta name="author" content="Dara Thomas">

        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <!--Additional CSS must be placed here-->
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Loved+by+the+King|Sue+Ellen+Francisco&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css" rel="stylesheet" type="text/css">

        <title>Dara.Does.Dev.</title>
         
    </head>
    <body>
        <header>
            <nav>
            <!--nav buttons appear when ink blot logo is clicked, like https://share.proto.io/J6ENFQ/ ; ABOUT nav button not necessary on this page??-->
                <a href="index.html">Home</a>
                <a href="VIEWS/projects.html">Projects</a>
                <a href="VIEWS/codingchallenges.html">Coding Challenges</a>
                <a href="VIEWS/blog.html">Blog</a>
                <a href="VIEWS/contact.html">Contact</a>
            </nav>
        </header>
        <main>
            <h1>[ABOUT]</h1>
            <p>Montreal-born::ATL resident::Lover of clean code::Cursor of laptop::Connoisseur of french fries</p>
            <p>When I'm not muttering colorful words at my laptop under my breath, or bargaining with the Javascript gods, I can usually be found either <a href="https://www.instagram.com/daranjeripaperpointillist/" target="_blank">at my easel</a>, or <a href="https://www.instagram.com/rolldararoll/" target="_blank">on the mat</a> (Oss!!!). Because, duality ;-)</p>
            <h1>[TECHNICAL SKILLS]</h1>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>JQuery</li>
                    <li>Bootstrap</li>
                    <li>Sass</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>React Router</li>
                    <li>React Native</li>
                    <li>Angular</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>Sketch</li>
                    <li>UI design principles</li>
                    <li>Agile Methodologies</li>
                </ul>
            
            <h1>[OTHER STUFF I'M GOOD AT]</h1>
                <ul>
                    <li>scripting clean, readable code</li>
                    <li>vibrant aesthetics</li>
                    <li>meeting deadlines</li>
                    <li>quickly catching on to new languages, technologies, and methodologies</li>
                    <li>yelling at my laptop</li>
                    <li>avoiding the dishes *side-eyes kitchen sink*</li>
                </ul>
            <br>
        </main>
        <footer>
            <p>&copy; 2020 by Dara F. Thomas. All Rights Reserved.</p>
        </footer>
    </body>
</html>