<!DOCTYPE html>
    <head>
        <!--required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Web development portfolio of Dara F. Thomas">
        <meta name="author" content="Dara F. Thomas">

        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--Additional CSS must be placed here-->
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Loved+by+the+King|Sue+Ellen+Francisco&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css" rel="stylesheet" type="text/css">

        <title>Dara.Does.Dev.</title>

    </head>
    <body>
        <header>
            <nav>
            <!--nav buttons appear when ink blot logo is clicked, like https://share.proto.io/J6ENFQ/ ; BLOG nav button not necessary on this page??-->
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Projects</a>
                <a href="#">Coding Challenges</a>
                <a href="#">Contact</a>
            </nav>
        </header>
        <main>
            <h1>[Blog]</h1>
            <h2>Musings, rantings, and observations on my software development journey thus far.</h2>
                <article>
                    <section>
                        <h2>Lessons Learned: Jiu Jitsu Gym Project</h2>

                        <p>As a recent convert to Brazilian Jiu Jitsu, I'm of course obsessed with All Things Jiu Jitsu.  When it came time to build my portfolio site, naturally I wanted to include a jiu jitsu-related project</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Nullam facilisis arcu  vel mollis finibus.</p>
                        <p>Fuse sit amet rutrum lacks. Sed efficitur lagret Nils, ac faucibus relit hendrerit sit amen.  Phasellus ac orci eget nisi porta accusant a eget ex. Nam lacinia dolor at mi tristique rhoncus.  Maecenas nis est, rhoncus id cursus non, tempor a neque. Phasellus venenatis dapibus lapreet.  Sed in locus a augue rutrum ultricies.  Donec eget lacinia elit.  Suspendisse commode justo at lorem molestie, vitae tempus enim laoreet.  Cras volutpat dignissim erat.  Proin semper, magna et pulvinar iaculis, tellus dus porttutor urna, maximus lobortis elit arcu eu justo.  Duis nec feugiat nunc.  Praesent eget urna quis lacinia egestas et nec qui.  Vivamus ut nunc Mauris.  Puisque a ornare enim. Etiam sed purus diam.</p>
                    </section>
                </article>

                <article>
                    <section>
                        <h2>Cursed Cursors & Wretched _ : A Dev Portfolio LoveHatestory in 3 Parts</h2>
                        <p>This animated cursor is trying to be the death of me. Somewhere along this dev portfolio journey I got the brilliant idea to . Because, sometimes you gotta hit 'em with the ol' razzle dazzle.</p>
                        <p>Being an artist, I delight in the esthetics of everything, which can be both a gift, and a curse. A gift, because I strive to bring a little beauty to everything I do - whether that be a portrait, a _, or a beautifully-executed arm bar in jiu jitsu practice (I jest. Being a white belt means that my arm bar technique is more reminiscent of a drunken mosquito struggling to free itself from a spiders web... but I digress). A curse, because, as a newbie, it sometimes takes me a while to figure out what, exactly, I'm doing. </p>
                    </section>
                </article>

                <article>
                    <section>
                        <h2>Snap, Nap, or Tap: Jiu Jitsu As A Metaphor for Web Development</h2>
                        <p>As a relatively recent convert to Brazilian Jiu Jitsu, as well as a coding rookie, I have come to draw and appreciate the parallels between the two arts. Because, trust that they're both art forms.</p>
                
                        <p>There are even parallels in how I came to both disciplines - quite by accident. I was living in San Diego, which I did not know happens to be the world capital of Brazilian Jiu Jitsu (outside of Rio De Janiero, of course). If you toss a stick in San Diego, chances are you'll hit a jiu jitsu practitioner (I would NOT recommend doing this, however). My wife's bestie happens to be a brown belt, and through numerous chats with him, my curiosity got the better of me. Next thing I knew, I was being tossed around on the mat like a rag doll by a skinny 15-year-old whippersnapper with entirely too much upper body strength for my liking. I somehow fell in love with the brutality of it all, and have been a convert ever since.
                        </p>
                
                        <p>Software development came to me in pretty much the same manner - suddenly, sometimes brutally - but with enough glimpses into the sheer beauty of it to make me fall head over heels with it. And so now, here I am, furiously tappity-tapping away at my keyboard, inputting spells and incantations one keystroke at a time, hoping to coax out and carve out a little beauty in my tiny corner of the interwebs.</p>
                
                        <p>Other parallels include...</p> 
                        
                        <p>1: Understanding the concept of Heirarchy as a tool to not get my butt kicked. As a white belt I would never think to challenge my brown belt friend, for example. And similarly, finally understanding CSS specificity rules have saved me a ton of frustration.</p>
                
                        <p>2: Some days you're the dog... and some days you're the hydrant. It's easy to get ahead of yourself when you achieve a small win or successfully apply a new technique that you weren't able to before. What happens next? You get thrown a curveball - either a bug or a black belt - that has you questioning the sanity in your choices. Because, balance. The important takeaway is: remain humble, or someone (or some code) is going to do that humbling for you.</p>
                
                        <p>3: Tenacity beats technique, every single time. On the mat, when I'm tangled up in a ridiculous hold, the key is to: not panick; take deep breaths, and visualize step by step the specific body movements that will help me to get un-stuck. The same with software development: when stuck, learning the art of rubber ducking; being able to describe to yourself how to break down a seemingly monumental task into bite-sized chunks; and having the clarity and patience to remain steadfast, will always yield better results than panicking ever will.</p>
                    </section>
                </article>

                <article>
                    <section>
                        <h2>I Know This Much Is {True}: Lessons Learned While Teaching Myself React </h2>
                        <p></p>
                    </section>
                </article>

                <article>
                    <section>
                        <h2>Oh, Javascript: Why Won't Thou Let Me Be Great?</h2>
                        <p></p>
                    </section>
                </article>
        </main>
        <footer>
            <p>&copy; 2020 by Dara F. Thomas. All Rights Reserved.</p>
        </footer>
    </body>
</html>