<!DOCTYPE html>
    <head>
        <!--required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Web development portfolio of Dara F. Thomas">
        <meta name="author" content="Dara F. Thomas">

        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--Additional CSS must be placed here-->
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Loved+by+the+King|Sue+Ellen+Francisco&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css" rel="stylesheet" type="text/css">

        <title>Dara.Does.Dev.</title>
        
    </head>
    <body>
        <header>
            <nav>
            <!--nav buttons appear when ink blot logo is clicked, like https://share.proto.io/J6ENFQ/ ; CODING CHALLENGES nav button not necessary on this page??-->
                <a href="/index.html">Home</a>
                <a href="about.html">About</a>
                <a href="projects.html">Projects</a>
                <a href="blog.html">Blog</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <main>
            <h1>Coding Challenges</h1>
                <p>Coding Challenge 1: Fizz Buzz </p>  <!--enter 2 numbers. Any number 1 - 100 that is divisible by your numbers will be replaced by an appropriate string-->

                <p>Coding Challenge 2: Palindrome</p>  <!--oEnter a word. If the word is a palindrome (reads the same backwards as forwards) the script will check and let you know-->

                <p>Coding Challenge 3: Math Genie</p>  <!--enter some numbers. The script finds the highest value, lowest value, sum of all values, product of all values, and mean of all values-->

                <p>Coding Challenge 4: Factorial</p> <!--Google coding interview question. Find if your K value exists. K is equal to the sum of two indexes on the array, which you provide-->

                <p>Coding Challenge 5: Restaurant Site</p> <!--menu; order food online; food blog-->

                <p>Coding Challenge 6: Real Estate E-Commerce site </p> <!--with forms, filters, multiple listings,-->

                
        </main>
        <footer>
            <p>&copy; 2020 by Dara F. Thomas. All Rights Reserved.</p>
        </footer>
    </body>
</html>